@import "tailwindcss";

body {
  background: #02010a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-custom {
  0%, 100% {
    box-shadow: 0 0 20px #000000;
  }
  50% {
    box-shadow: 0 0 40px #000000;
  }
}

.animate-pulse-custom {
  animation: pulse-custom 2s infinite;
}